* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;  
}

nav {
    /* width: 100%; */
    background-color: #094D92;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

header section {
    margin: auto;
    padding-top: 20px;
    background-color: #EEF0F2;
}

header aside {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header-section {
    background-color: aquamarine;
    margin-right: 50px;
}

.header-section h1 {
    font-size: 25px;
    padding: 20px 0px;
}

.header-section p {
    padding-bottom: 10px;
}

.img-header {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center
}

@media screen and (max-width: 800px) {
    nav {
        align-items: start;
        justify-content: start;
    }

    nav ul {
        flex-direction: column;
    }

    aside {
        flex-direction: column;
    }

    .header-section {
        width: 100%;
    }
}